body{
    margin: 0;
    font-family: Roboto;
}

header{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 1em;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

header li{
    list-style: none;
}

.logo{
    height: 2.5em;
    width: 7em;
}

main{
    display: grid;
}

.foto-section{
    position: relative;
}

.main-foto{
    width: 100vw;
}

.bewaar-deel{
    /* position: absolute; */
    z-index: 999;
    background-color: var(--main-background-color);
    /* background-color: red; */
    /* width: 3em; */
    /* height: 100em; */
    border: none;
    padding: .5em;
    border-radius: var(--border-radius-small);
}

.active{
    /* scale: 2; */
    /* transition-duration: 1s; */
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.bewaar-deel:hover{
    background-color: var(--detail-color);
}

.media-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow-x: scroll; */
}

figure{
    /* max-height: 8em; */
    width: 6em;
}

video.groter{
    /* scale: 3; */
    /* z-index: 999; */
    width: 10em;
    height: 10em;
}

.onder-media{
    width: 6em;
    height: 4em;
    /* max-height: 4em; */
    border: solid black;
    border-radius: var(--border-radius-big);
}

video{
    width: 10em;
}

dl{
    display: grid;
}

.icoon{
    width: 2em;
    height: 2em;
}

@keyframes move{
    10%{
        transform: translateX(2em) translateY(-2em);
    }
    20%{
        transform: translateX(6em) translateY(-4em);
    }
    30%{
        transform: translateX(8em) translateY(-6em);
    }
    40%{
        transform: translateX(9em) translateY(-8em);
    }
    50%{
        transform: translateX(10em) translateY(-10em);
    }


    60%{
        transform: translateX(10em) translateY(-10em);
    }
    70%{
        transform: translateX(9em) translateY(-8em);
    }
    80%{
        transform: translateX(8em) translateY(-6em);
    }
    90%{
        transform: translateX(6em) translateY(-4em);
    }
    100%{
        transform: translateX(2em) translateY(-2em);
    
    }

}